:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins',sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600px;
}

nav .right a{
    color: var(--text-colorr);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
} 

nav .right a span{
    margin-left: 5px;
}
 /* SECTION 1:Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 50px;
    margin: 50px 0;
    gap: 40px;
}

.hero-section .text .link {
    margin-top: 25px;
}

.hero-section .text .link a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .link a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .headshot {
    display: flex;
    justify-content: right;
    flex: 2;
}

.hero-section .headshot img {
    width: 350px;
    border-radius: 50%;
}

 /* SECTION 2:Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}
.skills-section h2 {
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    padding: 10px 70px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 10px;
    gap: 7px;
}

.skills-section .cells span {
    font-size: 15px;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 5px;
}

/* SECTION 3:aboutme */
.aboutme-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.aboutme-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.aboutme-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.aboutme-section .group .personal-details {
    text-align: center;
    flex: 2;
}

.aboutme-section .group .personal-details img {
    aspect-ratio: 1 / 1;
    width: 200px;
    object-fit: cover;
    border-radius: 70%;
    margin-bottom: 10px;
}

.aboutme-section .group .personal-details p {
    font-weight: 600;
}

.aboutme-section .group .text {
    flex: 8;
}

.aboutme-section .group .personal-details p:last-child {
    font-weight: normal;
}

/* SECTION 4:contact */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'poppin', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover {
    filter: brightness(.9);
} 

/*SECTION 5:others*/
.social-media {
    padding: 0 50px;
    margin-bottom: 100px;
}

.social-media h2 {
    text-align: center;
    font-size: 20px;
}

.social-media .acc {
    font-size: 20px;
}

.social-media .group {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    align-items: center;
    height: 80px;
}

@media (max-width: 700px) {
    /* NAVBAR */
    nav {
      padding: 0 20px;  
    }
    nav .right a{
        font-size: 15px; 
    }


    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a spam {
        display: none;
    }

    /*SECTION 1:Hero*/
    .hero-section {
        padding: 0 20px;

    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    /* SECTION 2:Skills */
    .skills-section {
        padding: 0 20px;
    }

/*SECTION 4:contact*/
.contact-section {
    padding: 0 20px;
}

    .skills-section .cells .cell span {
        font-size: 16px;
    }

/*SECTION 3:aboutme */ 
.aboutme-section {
    padding: 0 20px;
}   

}

@media (max-width: 800px) {
    /*SECTION 1:Hero*/
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 730px) {
    /*SECTION 1:*/
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img {
        width: 300px;
    }

/*SECTION 3:aboutme*/
.aboutme-section {
    text-align: center;
}

.aboutme-section .group {
    flex-direction: column;
}

/*SECTION 4:contact*/
.contact-section .group {
    flex-direction: column;
}

}
